@using Microsoft.AspNetCore.Identity
@using SM.Data.Models.DTOs
@using SM.Data.Models.Models

@model DisplayPhone

@inject SignInManager<IdentityUser> SignInMangager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="my-4">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">


  <div class="col-12">
    <label class="visually-hidden" for="brandId">Brand</label>
    <select class="form-select" id="brandId" name="brandId">
      <option selected>Brand</option>
                @foreach(var brand in Model.Brands)
                {
                    <option selected="@(brand.Id == Model.BrandId)" value="@brand.Id">@brand.Name</option>
                }
    </select>
  </div>

    <div class="col-12">
    <label class="visually-hidden" for="sterm">Search by model</label>
    <div class="input-group">
      <div class="input-group-text"></div>
      <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm" placeholder="Search by title">
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Filter</button>
    <a href="/Home/Index" class="btn btn-primary">Reset</a>
  </div>
</form>
</div>

<div class="w-100 mt-4 d-flex flex-wrap justify-content-center">
    @foreach (var phone in Model.Smartphones)
    {
        <div class="card mx-2 mb-4" style="width: 16rem;">
            @if (string.IsNullOrEmpty(phone.ImageTumbnailImg))
            {
                <img style="width:100%; height:300px;" src="/images/no-image.png" class="card-img-top" alt="..."/>
            }
            else
            {
                <img style="width:100%; height:300px;" src="/images/@phone.ImageTumbnailImg" class="card-img-top" alt="...">
            }

            <div class="card-body">
                <h5 class="card-title">@phone.Brand.Name @phone.Name</h5>
                <p class="card-text">Price: @phone.Price</p>
                <p class="card-text">Dimensions: @phone.ShortDescription</p>
                <p class="card-text">Stock: @phone.Quantity</p>
                <button type="button" onclick="add(`@phone.Id`)" class="btn btn-primary">Add to cart</button>
            </div>
        </div>
    }
   
</div>

@section Scripts{
  <script>

     async function add(phoneId){
            try {
                const response = await fetch(`/Cart/AddItem?phoneId=${phoneId}`);
                if (response.status == 200) {
                    const result = await response.json();
                    const cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;

                }
            }
            catch (err) {
                console.log(err);
            }
      }
  </script>
}


@if (User.IsInRole("Admin"))
{
    <h1>Hi Admin</h1>
}else
{
    
}