@using SM.Data.Models.Models;

@model IEnumerable<Order>

@{
   
}

<div style="width:90%;margin:auto" class="mt-2">
    <a href="/Identity/Account/Manage" class="btn btn-primary">Back</a>

    <h4>My Orders</h4>
    @if (Model != null && Model.Count() > 0)
    {

       <table class="table table-striped">
           <tr>
               <th>OrderDate</th>
               <th>OrderStatus</th>
           </tr>
            @foreach(var order in Model)
            {
             <tr>
                 <td>@order.CreateDate.ToString("dd-MM-yyyy")</td>
                 <td>@order.OrderStatus.StatusName</td
                </tr>
                @if (order.OrderDetail != null && order.OrderDetail.Count > 0)
                {
                    

                    <tr>
                        <td>
                            <table class="table table-striped">
                                <tr>
                                    <th>Product</th>
                                    <th>Image</th>
                                    <th>Unit Price</th>
                                    <th>Total Price</th>
                                </tr>
                                @foreach (var item in order.OrderDetail)
                                {
                                    <tr>
                                        <td>@item.Smartphone.Brand.Name @item.Smartphone.Name</td>
                                        <td>
                                            @if (string.IsNullOrEmpty(item.Smartphone.Image))
                                            {
                                                <img src="/images/no-image.png" style="width:50%;height:80px" />
                                            }
                                            else
                                            {
                                                <img src="/images/@item.Smartphone.Image" style="width:50%;height:80px" />
                                            }
                                        </td>
                                        <td>@item.Smartphone.Price X @item.Quantity</td>
                                        <td>@(item.Smartphone.Price * item.Quantity)</td>

                                    </tr>
                                
                                }
                            </table>
                    </td>
                </tr>
                }
            }
        </table>
     

       
    }
    else
    {
        <h5>No orders</h5>
    }
</div>

